body {
    background: rgb(175, 118, 180);
    background: linear-gradient(90deg, rgba(175, 118, 180, 1) 0%, rgba(148, 187, 233, 1) 100%);
    text-align: center;
}

.descripcion {
    position: absolute;
    right: 20px;
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    margin: 20px;
    width: 20%;
}
.image-1 {
    position: absolute;
    top: 140px;
    right: 40%;
    border: solid black 5px;
    background-image: url("../Fondos/Marketing07.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-35deg);
    height: 185px;
    width: 280px;
}
.image-2 {
    position: absolute;
    top: 450px;
    right: 50%;
    border: solid black 5px;
    background-image: url("../Fondos/Marketing08.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 190px;
    width: 285px;
}
.image-3 {
    position: absolute;
    top: 200px;
    right:60%;
    border: solid black 5px;
    background-image: url("../Fondos/Marketing03.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-35deg);
    height: 185px;
    width: 185px;
}
.image-4 {
    position: absolute;
    top: 450px;
    right: 70%;
    border: solid black 5px;
    background-image: url("../Fondos/Marketing05.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-35deg);
    height: 185px;
    width: 280px;
}
.image-5 {
    position: absolute;
    top: 150px;
    right: 80%;
    border: solid black 5px;
    background-image: url("../Fondos/Marketing04.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-35deg);
    height: 200px;
    width: 165px;
}

#menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }